@import './bootstrap-variables';
@import './bootstrap';
@import './scrollbar';

$sm: map-get($grid-breakpoints, "sm");
$md: map-get($grid-breakpoints, "md");

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor:default;
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    @extend .w-100;
    @extend .h-100;
    @media(max-width: $sm) {
        position: static;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

h1, h2, h3, h4, h5 {
    @extend .text-white;
    @extend .mb-2;

}

h2 {
    font-size: 140%;
}

::selection {
    background:lighten(#465162, 40%);
    color:$white;
}

.customize-group + .customize-group  {
    @extend .pt-3;
}

.customize-list-group {
    @extend .list-group;
    @extend .list-group-flush;
    user-select: none;
}
.customize-list-group-item {
    @extend .list-group-item;
    @extend .py-0;
    @extend .px-1;
    cursor:pointer;
    border-color:lighten($body-bg, 10%);
    &:hover {
        background: lighten($body-bg, 10%);
    }
    &, &.disabled {
        background: $body-bg;
    }
    & * {
        cursor:pointer;
    }
    .custom-control {
        @extend .py-1;
    }
    .custom-control-label {
        @extend .d-block;
    }
    &.disabled .custom-control-label {
        &:before {
            background: darken($primary, 25%);
            border-color: darken($primary, 25%);
        }
        &:after {
            opacity:0.4;
        }
    }
}

.customize-code {
    @extend .d-block;
    @extend .p-2;
    background: #38404e;
    border:1px solid #465162;
    &, & * {
        color:#919bac;
    }
    & + h2 {
        @extend .pt-4;
    }
    cursor: text;
    line-height:1.6;
    pre {
        @extend .m-0;
        white-space: pre-wrap;
    }
    .hljs {
        background: transparent !important;
        padding: 0 !important;
    }
}

.section-scroller {
    scrollbar-color: #647086 transparent;
    -moz-appearance: none !important;
    @extend .h-100;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media(max-width: $sm) {
        height: auto;
        overflow: inherit;
        -webkit-overflow-scrolling: auto;
    }
}

$header: 66px;

.app-container {
    @extend .position-relative;
    @extend .mx-auto;
    max-width:1200px;
    height:100%;
    overflow: hidden;
    @media(max-width: $sm) {
        overflow: auto;
        height: auto;
    }
    .app-header {
        @extend .pt-2;
        @extend .w-100;
        position: absolute;
        height: $header;
        .logo {
            width:85px;
            vertical-align: baseline;
        }
        @media(max-width: $sm) {
            position: static;
            height: auto;
            h1 {
                font-size: 200%;
                text-align: center;
                padding: 1rem 0;
            }
            .logo {
                width: 75px;
            }
        }
        .app-tabs {
            top:0;
            right:0;
            position: absolute;
            @extend .btn-group;
            @extend .my-2;
            @extend .mr-3;
            @media(max-width: $sm) {
                position: static;
                width: 100%;
                margin-right: 0 !important;
                margin-bottom: 1rem !important;
                margin-top: 0 !important;
                .btn {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
    .app-main {
        display: flex;
        position: absolute;
        top: $header;
        bottom: 1rem;
        @extend .w-100;
        @media(max-width: $sm) {
            position: static;
            height: auto;
            display: block;
            padding-bottom:1rem;
        }
        .app-col {
            @extend .section-scroller;
        }
        .app-col + .app-col {
            @extend .pt-4;
        }

        .app-col-bundler,
        .app-col-browser {
            @extend .d-flex;
            @extend .flex-column;
            @extend .h-100;
            overflow: hidden;
            @media(max-width: $sm) {
                height: auto;
                overflow: inherit;
                padding: 1rem 1rem 0;
            }
            .customize-code {
                @extend .flex-grow-1;
                @extend .section-scroller;
            }
        }
        .app-col-list {
            @extend .col-sm-4;
            @extend .col-md-3;
        }
        .app-col-bundler {
            @extend .col-sm-4;
            @extend .col-md-6;
        }
        .app-col-aside {
            @extend .col-sm-4;
            @extend .col-md-3;
        }
        .app-col-browser {
            @extend .col-sm-8;
            @extend .col-md-9;
        }
    }
}

.btn .icon {
    @extend .mr-md-2;
    width: 20px;
    height: 20px;
    @media(max-width: $md) {
        width: 16px;
        height: 16px;
        display:block;
        margin:0 auto 0.25rem;
    }
}
