@import './bootstrap-variables';
@import './bootstrap';
@import './scrollbar';

$sm: map-get($grid-breakpoints, "sm");

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor:default;
    overflow: hidden;
    position: absolute;
    @extend .w-100;
    @extend .h-100;
    @media(max-width: $sm) {
        position: static;
        overflow: auto;
    }
}

h1, h2, h3, h4, h5 {
    @extend .text-white;
    @extend .mb-2;

}

h2 {
    font-size: 140%;
}

header {
    .logo {
        width:85px;
        vertical-align: baseline;
    }
}

::selection {
    background:lighten(#465162, 40%);
    color:$white;
}

.customize-group + .customize-group  {
    @extend .pt-3;
}

.customize-list-group {
    @extend .list-group;
    @extend .list-group-flush;
    user-select: none;
}
.customize-list-group-item {
    @extend .list-group-item;
    @extend .py-0;
    @extend .px-1;
    cursor:pointer;
    border-color:lighten($body-bg, 10%);
    &:hover {
        background: lighten($body-bg, 10%);
    }
    &, &.disabled {
        background: $body-bg;
    }
    & * {
        cursor:pointer;
    }
    .custom-control {
        @extend .py-1;
    }
    .custom-control-label {
        @extend .d-block;
    }
    &.disabled .custom-control-label {
        &:before {
            background: darken($primary, 25%);
            border-color: darken($primary, 25%);
        }
        &:after {
            opacity:0.4;
        }
    }
}

.customize-code {
    @extend .d-block;
    @extend .p-2;
    @extend .mb-2;
    background: #38404e;
    border:1px solid #465162;
    &, & * {
        color:#919bac;
    }
    cursor: text;
    line-height:1.6;
    &.preformatted {
        white-space: pre-wrap;
    }
}

.app-container {
    @extend .container-fluid;
    @extend .d-flex;
    @extend .flex-column;
    max-width:1200px;
    height:100%;
    .app-header {
        @extend .pt-4;
        @extend .flex-shrink-0;
        @extend .flex-grow-0;
    }
    .app-main {
        @extend .pb-4;
        .app-col {
            height:100%;
            overflow-x: hidden;
            overflow-y: auto;
            @media(max-width: $sm) {
                height: auto;
                overflow: none;
            }
        }
    }
}

